.esasborder{
	height: 600px;
	width: 550px;
	border-style: solid;
	border-color: #bdc3c7;
	border-width: 15px;
    margin: auto;
}
.h4{
	color: #3498db;
	text-align: center;
	font-family:'Source Sans Pro', sans-serif;
}
.h2{
	margin-left: 18px;
	font-family:'Source Sans Pro', sans-serif;
}
.ikinciborder{
    font-size: 14px;
	border-style: solid;
	border-color: #bdc3c7;
	border-width: 4px;
	margin-left: 18px;
	border-right: none;
	border-top: none;
	border-bottom: none;
	color: #696969;
	font-family:'Source Sans Pro', sans-serif;
}
.metn2{
	 font-size: 14px;
	margin-left: 18px;
	color:#696969;
	font-family:'Source Sans Pro', sans-serif;
}
